#position
    .box
        position: relative
        .minibox
            width: 100px
            height: 100px
            background-color: #f058f5
            color: #ffff
            margin: 10px
            h1
                margin: 10px
        .box3
            position: absolute
            top: 320px
            left: 250px
